body {
    background-color:rgb(30, 215, 221)
}
header {
    background-color: rgb(238, 21, 140);
}
footer {
    background-color: rgb(238, 21, 140);
}
table {
    height:600px; width:100%;
}
td {
    width: 25%;
    text-align: center;
    color: rgb(240, 14, 14);

}
img {
    height: 50px; width: 60px;
}
#c1 {
    background-color:rgb(58, 156, 243)
}
#c2 {
    background-color:rgb(10, 136, 247)
}
#c3 {
    background-color:rgb(11, 79, 139)
}
#c4 {
    background-color:rgb(7, 45, 78)
}
#c5 {
    background-color:rgb(35, 240, 35)
}
#c6 {
    background-color:rgb(32, 212, 71)
}
#c7 {
    background-color:rgb(21, 151, 53)
}
#c8 {
    background-color:rgb(18, 99, 18)
}
#c9 {
    background-color:rgb(182, 42, 238)
}
#c10 {
    background-color:rgb(176, 21, 190)
}
#c11 {
    background-color:rgb(116, 14, 116)
}
#c12 {
    background-color:rgb(56, 7, 50)
}
#c13 {
    background-color:rgb(245, 52, 52)
}
#c14 {
    background-color:rgb(173, 33, 33)
}
#c15 {
    background-color:rgb(119, 16, 24)
}
#c16 {
    background-color:rgb(75, 17, 17)
}

#w1 {
    background-color: rgb(224, 141, 38);

}
#w2 {
    background-color: rgb(190, 224, 38);

}
#w3 {
    background-color: rgba(153, 9, 9, 0.425);

}
#w4 {
    background-color: rgb(208, 204, 226);

}#w5 {
    background-color: rgb(155, 151, 177);

}#w6 {
    background-color: rgb(220, 235, 156);

}#w7 {
    background-color: rgb(38, 168, 201);

}#w8 {
    background-color: rgb(216, 151, 211);

}